{% load static %}
<!-- this is short notification -->
<div class="noti-overlay" id="notificationbx">
    <div class="notification-box" id="notif_name">
        I am notification.
    </div>
</div>

<!-- <div class="noti-container" id="noti_container"></div> -->
<div class="loading-dots-container" id="loading_rounder">
    <img class="loading-dots-img" src="{% static 'icon/four_dots_loading.svg' %}" alt="">
</div>

<!-- this is activate while scroll is grater then some value and used to smooth scroll up -->
<div class="upbtn-container" id="backtohome">
    <img class="upbtn" src="{% static 'icon/up.png' %}" alt="dsf">
</div>